<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Devour Burgers!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/js/burgers.js"></script>
</html>